body{
background:linear-gradient(135deg,#ffd6ea,#fff7fb);
font-family:Poppins,sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
margin:0;
overflow:hidden;
}

.card{

width:390px;
background:white;
padding:30px;
border-radius:30px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,.15);
position:relative;

}

.avatar{

width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
border:6px solid #ff7eb6;

}

h1{

color:#ff3f7f;

}

.hello{

font-size:20px;
font-weight:600;
margin:20px 0;

}

.btn-group{

margin-top:25px;

}

.btn-group a{

display:block;
padding:16px;
margin:15px 0;
border-radius:50px;
text-decoration:none;
font-size:20px;
font-weight:bold;
color:white;
transition:.3s;

}

.facebook{

background:#1877F2;

}

.zalo{

background:#0099ff;

}

.btn-group a:hover{

transform:scale(1.05);

}

.qr{

margin-top:30px;

}

.qr img{

width:180px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.2);

}

footer{

margin-top:25px;
color:#666;

}
